body {
  text-align: center;
  background-color: #989DA4;
  color: #135487;
}

h1 {
  color: #2A4353;
}

#trash {
  text-align: center;
}

#remove {
  text-align: center;
}

div {
  padding: 20px;
  padding-top: 20px;
}

.container {
  padding-top: 30px;
}

table, #sample {
  padding-top: 15px;
  display: none;
  color: #FF3B77;
  border: 2px solid #5CA2BE;
  width: 865px;

}

.head {
  width: 100px;
  margin:20px;
}

th {
  text-align: center;
  width: 50px;
}

#editor {
  text-align: center;

}

.table {
  border: 2px solid #5CA2BE;
  text-align: left;
  background-color: #fff;
}

tr{
  color: #FF3B77;
}

#add {
  width: 45px;
  height: 45px;
  padding-left: 9px;
  background-color: #5CA2BE;
  color: #135487;
  border-radius: 50px;
  border: 2px solid #135487;
}

#edit {
  border-radius: 50px;
  margin-left: 30px;
  padding: 2px;
  text-align: center;
  background-color: #FF3B77;
  border: #CDFF00;
}

input {
  background-color: #D5D8DD;
  border: 2px solid #135487;
  margin: 10px;
  display: #FF3B77;
  text-align: center;
}
